<% provide(:title, "") %>
<main class="site-main">
  <div class="container">
    <div class="row">
       <div class="col-lg-6"> ---1st Column--- </div>
       <div class="col-lg-6"> ---2nd Column--- </div>
    </div>
    <div class="row">   <!--In case of multiple rows of two column-->
       <div class="col-lg-6"> ---1st Column--- </div>
       <div class="col-lg-6"> ---2nd Column--- </div>
    </div>
  </div>
 <!--  <div class="page-content">
    <ul class="list-of-main-articles">
      <li>
        <div class="list-of-main-articles-li" style="background-image: url(http://melni.me/wp-content/uploads/2017/05/pexels-photo-87343-e1494869442960.jpeg)">
        </div>
      </li>
      <li>
        <div class="list-of-main-articles-li" style="background-image: url(http://melni.me/wp-content/uploads/2017/04/3-e1493205112204.png)">
        </div>
      </li>

    </ul>
  </div> -->

  <div class="page-navigaion">

  </div>
</main>
