<footer class="footer">
  <ul class="social-icons">
    <li>
      <a href="#">
        <span class="genericon genericon-facebook"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="genericon genericon-twitter"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="genericon genericon-instagram"></span>
      </a>
    </li>
  </ul>
  <div class="site-copyright">
    © 2016 book shΞlf
  </div>
</footer>
