<header class="site-header">
  <div>
    <%= link_to "book shΞlf", root_path, id: "header-logo", class: "header-logo" %>
  </div>

  <div class="menu-toggle">
    <span>

    </span>
  </div>
</header>
